@tailwind base;
@tailwind components;
@tailwind utilities;

.brand-logo {
    font-family: 'Anton', sans-serif;
}
.swiper-pagination-hide {
  display: none !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 500px;
  margin: 20px auto;
  padding: 0px 15px !important;
}

.swiper-button-next, .swiper-button-prev {
    font-size: 1px !important;
    color: gray !important;
    border: 1px solid rgb(231, 231, 231);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    width: 40px !important;
    height: 40px !important;
    background-color: white;
    margin: 0px -10px;
    z-index: 10 !important;
    top: 35%;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 12px !important;
    font-weight: bold;
    align-self: center;
}

