@tailwind base;
@tailwind components;
@tailwind utilities;

.brand-logo {
    font-family: 'Anton', sans-serif;
}

.swiper {
  width: 100%;
  height: 500px;
  margin: 20px auto;
  position: static !important;
}

.swiper-button-next{
  font-size: 1px !important;
  color: gray !important;
  border: 1px solid rgb(231, 231, 231);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 40px !important;
  height: 40px !important;
  background-color: white;
  z-index: 10 !important;
  top: 40% !important;
  right: -20px !important;

}

.swiper-button-prev {
  font-size: 1px !important;
  color: gray !important;
  border: 1px solid rgb(231, 231, 231);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 40px !important;
  height: 40px !important;
  background-color: white;
  z-index: 10 !important;
  top: 40% !important;
  left: -20px !important;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 12px !important;
    font-weight: bold;
    align-self: center;
}

